@namespace ClassWork_WebApp_17._12._2023.Models
@page "/products"
@* @inject ProductService _catalog  *@
@inject IProductRepository _catalog 

<h3>Список товаров</h3>
@foreach(var product in _catalog.GetProducts())
{
	<p> id продукта: @product.Id </p>
    <p>Название продукта: @product.Name</p>
    <p> Цена продукта: @product.Price</p>
	<br>
		
}



@code 
{
	
		//Catalog _catalog = new Catalog();

}
